/* Web properties to make good practices
and make our code better */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Mono", monospace;
    min-height: 100%;
}
html{
    font-size: 62.5%;
    min-height: 100%;
}
:root{
    --orange: #f54201;
    --light-blue: #004181;
    --blue: #003468;
    --yellow: #f7a702;
    --white: #fefefe;
}
/* Design */
a{
    text-decoration: none;
    display: inline;
    color: black;
}
/* HEADER STYLES */
header{
    width: 100%;
    height: 110px;
    display: grid;
    grid-template-rows: 50px auto;
}
header .header-icons-container{
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--blue);
}
header .icons{
    margin-right: 50px;
}
header .icons span::before{
    color: white;
    font-size: 28px;
}
header .icons a{
    margin-left: 10px;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.158);     
}
nav .nav-logo-container{
    display:flex;
    align-items: center;
    margin-left: 50px;
    height:100%;
}
nav .nav-logo-container img{
    width: 210px;
    height: 60px;
    object-fit: cover;
}
nav .profile-link{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;;
}
nav .profile-link a{
    
    color: black;
    border-bottom: 1px solid black;
}
/* Main style */
.profile-main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 50px 50px;
    background-color: var(--blue);
    color: white;
}
.profile-main-container img{
    min-width: 200px;
    min-height: 200px;
    border: 1px double white;
}
.profile-text-container{
    width: 700px;
    margin-left: 40px;
    align-self: center;
}
.profile-text-container h1{
    font-size: 2.6rem;
}
.profile-text-container p{
    font-size: 1.6rem;
}
.projects-main-container{
    width: 100%;
    height: auto;
    padding: 30px 100px;
}
.projects-main-container h2{
    font-size: 2.2rem;
    text-align: center;
    padding: 20px 0 40px;
    border-bottom: 1px solid black;
}
.projects-container{
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 30px;
    line-height: 2rem;
}
.projects-main-container p{
    font-size: 1.6rem;  
}
.projects-main-container p:nth-child(1){
    font-weight: bold;
    margin-bottom: 20px;
}
.contact-main-container{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    Justify-items: center;
    background-color: rgba(0, 0, 0, 0.158);
    padding-top: 60px;
}
.contact-right, .contact-left{
    font-size: 1.6rem;
    display: flex;
    height: 100px;
    min-width: 40px;
}
.contact-right div, .contact-left div{
    align-self: flex-end;
    width: 300px;
    height:auto;
    padding-left: 10px;
}
.contact-right a, .contact-left a{
    border-bottom: 1px solid black;
}
.contact-right p, .contact-left p{
    margin-top: 12px;
}
.contact-main-container img{
    width: 100px;
    height: 100px;
}

/* Footer style */
footer{
    width: 100%;
    height: auto;
}
.footer-top{
    width: 100%;
    height: 40px;
    background-color: #2A2A2A;
}
.footer-bottom{
    width: 100%;
    height: 60px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom p{
    font-size: 1.6rem;
}
@media (max-width: 800px){
    .contact-main-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px){
    .profile-main-container {
        flex-wrap: wrap;
        height: auto;
    }
    .profile-main-container img{
        margin-bottom: 20px;
        max-width: 200px;
        max-height: 200px;
    }
}    
@media (max-width: 400px){
    header{
        height:auto;
    }
    header .header-icons-container{
        font-size:1rem;
    }
    header .icons{
        margin: 0 auto;
    }
    nav{
        height:auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }
    .contact-main-container{
        height: auto;
        grid-template-rows: 200px;
    }
    .contact-right, .contact-left{
        font-size: 1.2rem;
        height: auto;
        flex-direction:column;
        align-items:center;
    }
    .footer-bottom p{
        font-size: 1.2rem;
    }
}